<!-- <div *ngIf="products">
  <div *ngFor="let p of products._embedded.products">
    <div class="col-md-6">
      <div class="card">
        <img class="card-img-top" src="{{this.catService.host+'/photoProduct/'+p.id}}" alt="Product image" />
        <div class="card-body">
            <h4 class="card-title">{{p.name}}</h4>
            <p class="card-text">{{p.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div fxLayout="row wrap" fxLayoutGap="16px grid"  >
  <mat-card fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" class="mat-elevation-z4" *ngFor="let p of products._embedded.products" >
    <!-- <mat-card-header>
      <mat-card-title>
        <span>
          <h3>{{p.name}}</h3>
          <mat-icon matBadge="{{p.currentPrice}}" matBadgeColor="warn">payment</mat-icon>
        </span>
      </mat-card-title>
    </mat-card-header> -->
    <img mat-card-image src="{{this.catService.host+'/photoProduct/'+p.id}}" >
    <mat-card-content>
      <div style="display:flex; justify-content:space-between" >
         <div>{{p.name}}</div>
        <div>
          {{p.currentPrice}}DH
        </div>
      </div> 
      <!-- <mat-icon matBadge="{{p.currentPrice}}" matBadgeColor="warn">payment</mat-icon> -->
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi itaque laboriosam, autem modi id suscipit voluptas nam doloremque.
      </p>
    </mat-card-content>
    <mat-card-actions fxLayoutGap="3px"  >
      <button  mat-fab  color="primary" >
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-fab color="accent" >
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-fab color="warn" >
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>